{% extends 'common.html' %}
{% load static %}

{% block main %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Create Test</h1>
      <p>Create Test here add questions later</p>
    </div>
  </div>

  <br>
	
	<!-- ======= Contact Section ======= -->
    <div class="container" style="background-image: url('{% static 'assets/img/hero-bg.png' %}');">

      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

        	<!-- Form -->
          <div class="col-lg-6">
            <form action="{% url 'create_test' class_id %}" method="post" class="container">
            	{% csrf_token %}
              <div class="row gy-4">

                <div class="col-md-12">
                  {{ form.name }}
                </div>

                <div class="col-md-12">
                  {{ form.desc }}
                </div>

                <div class="col-md-6">
                  {{ form.start_time }}
                  {{ form.start_time.label }}
                </div>

                <div class="col-md-6">
                  {{ form.end_time }}
                  {{ form.end_time.label }}
                </div> 

                <div class="col-md-12 text-center">
                  <button class="btn btn-primary" type="submit">Create Test</button>
                </div>

              </div>
            </form>
          </div>
          <!-- End From -->

          <!-- Extra content -->
         	<div class="col-lg-6">
            <div class="row gy-4">
              <div class="col-md-6">
              	<img src="{% static 'assets/img/OnlineClass.jpg' %}">
              </div>
            </div>
          </div>

          <!-- End of Extra Content -->
        </div>

      </div>
    </div>
    <!-- End Contact Section -->
{% endblock %}