{% extends 'base.html' %}
{% load static %}

{% block header %}
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="{% url 'home' %}" class="logo d-flex align-items-center">
      <img src="{% static 'assets/img/logo.png' %}" alt="">
      <span>EasyExam</span>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="{% url 'dashboard' %}">Home</a></li>

        {% if user.is_staff %}
          <li><a href="{% url 'create_qn' test.id %}"><i class="bi bi-folder-plus"><span> Create Question</span></i></a>
          <li><a href="{% url 'update_test' test.id %}"><i class="bi bi-gear"><span> Modify Test</span></i></a>
        {% endif %}

        <li class="dropdown"><a href="#"><span>{{ user.first_name }}</span><i class="bi bi-person-circle"></i></a>
          <ul>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>            
            {% if user.is_staff %}
            <li><a class="confirm-delete" href="{% url 'delete_test' test.id  %}" style="color: red">Delete {{ test }}<i class="bi bi-trash"></i></a></li>
            {% endif %}
            <!-- <li><a href="#">Settings</a></li> -->
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header>
<!-- End Header -->
{% endblock %}

{% block main %}
	
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'dashboard' %}">Classroom</a></li>
          <li><a href="{% url 'view_class' test.belongs.id %}">{{ test.belongs }}</a></li>
          <li>{{test}}</li>
        </ol>
        <h2>Questions</h2>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">
            {% for q in qns %}
            <article class="entry">

              <h5 class="entry-title">
                <a>{{ q }}</a>
              </h5>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-award"></i>Max Score
                    {{ q.max_score }}
                  </li>
                  <li class="nav-item d-inline-flex  align-items-center mr-2"><a class="nav-link d-inline-flex" href="{% url 'update_qn' q.id %}" style="color: green"><i class="bi bi-gear"></i>Edit</a></li>
                  <li class="nav-item d-inline-flex  align-items-center mr-2"><a class="confirm-delete" href="{% url 'delete_qn' q.id  %}" style="color: #f54266"><i class="bi bi-trash"></i>Delete</a></li>
                </ul>
              </div>

            </article><!-- End blog entry -->
            {% endfor %}



            {% if qns.has_other_pages %}
            <div class="blog-pagination">
              <ul class="justify-content-center">
                
                {% if qns.has_previous %}
                  <li><a href="?page={{ qns.previous_page_number }}">&laquo;</a></li>
                {% endif %}

                {% for i in qns.paginator.page_range %}
                  {% if qns.number == i %}
                    <li class="active"><a>{{ i }}</a></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                
                {% if qns.has_next %}
                  <li><a href="?page={{ qns.next_page_number }}">&raquo;</a></li>
                {% endif %}
              </ul>
            </div>
            {% endif %}

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="" method="GET">
                  <input type="text" name="search" placeholder="Search">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->


              <a href="{% url 'create_qn' test.id %}"><h3 class="sidebar-title bi bi-file-earmark-plus"> Add Question</h3><i class=""></i></a>

              <a href="{% url 'students_work' test.id %}"><h3 class="sidebar-title bi bi-people-fill"> Students Work </h3><i class=""></i></a>

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->


{% endblock %}