{% extends 'base.html' %}
{% load static %}

{% block header %}
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="{% url 'home' %}" class="logo d-flex align-items-center">
      <img src="{% static 'assets/img/logo.png' %}" alt="">
      <span>EasyExam</span>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="{% url 'dashboard' %}">Home</a></li>

        {% if user.is_staff %}
          <li><a href="{% url 'create_qn' test_id %}"><i class="bi bi-folder-plus"><span> Create Question</span></i></a>
        {% endif %}

        <li class="dropdown"><a href="#"><span>{{ user.first_name }}</span><i class="bi bi-person-circle"></i></a>
          <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'home' %}#about">About us</a></li>
            <li><a href="{% url 'home' %}#contact">Contact us</a></li>
            <!-- <li><a href="#">Settings</a></li> -->
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header>
<!-- End Header -->
{% endblock %}

{% block main %}
	
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'dashboard' %}">Home</a></li>
          <li>Classroom</li>
          <li>Test</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            {% for q in qns %}
            <article class="entry">

              <h2 class="entry-title">
                <a href="">{{ q }}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-award"></i>Max Score
                    {{ q.max_score }}
                  </li>
                </ul>
              </div>

            </article><!-- End blog entry -->
            {% endfor %}


            <div class="blog-pagination">
              <ul class="justify-content-center">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
            </div>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->


              <a href="{% url 'create_qn' test_id %}"><h3 class="sidebar-title bi bi-folder-plus"> Add Question</h3><i class=""></i></a>

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->


{% endblock %}