# Auto detect text files and perform LF normalization
static/assets/style.css linguist-detectable=false
templates/base.html linguist-detectable=false
templates/common.html linguist-detectable=false
templates/classroom/home.html linguist-detectable=false
templates/classroom/login.html linguist-detectable=false

* text=auto
